
                <!-- ~~~=| Fashion area START |=~~~ -->
                <div class="fashion_area">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="header_fasion">
                                <div class="left_fashion main_nav_box">
                                    <ul>
                                        <li class="nav_fashion"><a href="index.html">Fashion</a></li>
                                    </ul>
                                </div>
                                {#<div class="fasion_right">
                                    <ul>
                                        <li><a href="index.html">Style</a></li>
                                        <li><a href="index.html">smart living</a></li>
                                        <li><a href="index.html">fashion week</a></li>
                                        <li class="last_item"><a href="index.html">...</a></li>
                                    </ul>
                                </div>#}
                            </div>
                            {#  <div class="fashion_area_box">
                              <div class="row">
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                      <div class="fs_news_left">
                                          <div class="single_fs_news_left_text">
                                              <div class="fs_news_left_img"> <img src="images/ph.jpg" alt="" />
                                                  <div class="br_cam br_vid_big_s"> <a class="fa fa-camera" href="index.html"></a> </div>
                                              </div>
                                              <h4><a href="blog-single-slider-post.html">Travelling With Technology Some Tips From.</a></h4>
                                              <p> <i class="fa fa-clock-o"></i> 3 min ago <i class="fa fa-comment"></i> 19 </p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                      <div class="all_news_right">
                                          <div class="fs_news_right">
                                              <div class="single_fs_news_img"> <img src="images/fasn1.png" alt="Single News" /> </div>
                                              <div class="single_fs_news_right_text">
                                                  <h4><a href="blog-single-slider-post.html">Thoughts on remaining casually chic</a></h4>
                                                  <p> <a href="index.html">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                              </div>
                                          </div>
                                          <div class="fs_news_right">
                                              <div class="single_fs_news_img"> <img src="images/fasn2.png" alt="Single News" /> </div>
                                              <div class="single_fs_news_right_text">
                                                  <h4><a href="blog-single-slider-post.html">They Are Wearing the Best From Paris Week</a></h4>
                                                  <p> <a href="index.html">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                              </div>
                                          </div>
                                          <div class="fs_news_right last_right">
                                              <div class="single_fs_news_img"> <img src="images/fasn3.png" alt="Single News" /> </div>
                                              <div class="single_fs_news_right_text">
                                                  <h4><a href="blog-single-slider-post.html">Cruise 2015 Swim Trend: Blurred Lines</a></h4>
                                                  <p> <a href="index.html">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>#}
                                  {{ page.content_front }}
                            <div class="news_pagination">
                                <ul class="news_pagi">
                                    <li><a href="index.html">1</a></li>
                                    <li><a href="index.html">2</a></li>
                                    <li><a href="index.html">3</a></li>
                                    <li class="dotlia"><a href="index.html">. . .</a></li>
                                    <li class="nextlia"><a href="index.html">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ~~~=| Fashion area END |=~~~ -->

