<!-- ~~~=| Banner START |=~~~ -->
<section class="hp_banner_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="hp_banner_box">
                    <div class="hp_banner_left">
                        {{ page.widget_1 }}
                    </div>
                    <div class="hp_banner_right">
                        {{ page.widget_1_half }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ~~~=| Banner END |=~~~ -->