<div class="col-md-3 col-sm-3 col-xs-12">
    <div class="home_sidebar">
        {# <div class="purchase_sidebar">
             <div class="purchase_sidebar_img"> <img src="images/sidebar1.jpg" alt="" />
                 <div class="purchase_overlay"></div>
                 <div class="purchase_sidebar_text">
                     <h2>Hash</h2>
                     <p>Give your website a re-design it deserves</p>
                     <div class="purchase_s"> <a href="index.html">Purchase</a> </div>
                 </div>
             </div> #}
    </div>
    <div class="follow_us_side">
        <h2>Follow Us</h2>
        <div class="all_single_follow">
            <div class="single_follow_us"> <a href="index.html"> <i class="fa fa-facebook"></i><br>
                    5638<br>
                    Fans </a> </div>
            <div class="single_follow_us twit"> <a href="index.html"> <i class="fa fa-twitter"></i><br>
                    5638<br>
                    Fans </a> </div>
            <div class="single_follow_us goopl"> <a href="index.html"> <i class="fa fa-google-plus"></i><br>
                    5638<br>
                    Fans </a> </div>
            <div class="single_follow_us last_one"> <a href="index.html"> <i class="fa fa-dribbble"></i><br>
                    5638<br>
                    Fans </a> </div>
        </div>
    </div>
    <div class="follow_us_side">
        <h2>Latest Post</h2>
        <div class="all_news_right">
            {{ page.sidebar_latestpost }}
        </div>
        <div class="follow_us_side">
            {# <h2>Image Gallery</h2>
           <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                   <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               </ol>

               <!-- Wrapper for slides -->
             <div class="carousel-inner" role="listbox">
                   <div class="item active">
                       <div class="br_single_news"> <img alt="" src="images/side_slider.jpg">
                           <div class="br_cam"> <a class="fa fa-camera" href="index.html"></a> </div>
                       </div>
                   </div>
                   <div class="item">
                       <div class="br_single_news"> <img alt="" src="images/side_slider.jpg">
                           <div class="br_cam"> <a class="fa fa-camera" href="index.html"></a> </div>
                       </div>
                   </div>
                   <div class="item">
                       <div class="br_single_news"> <img alt="" src="images/side_slider.jpg">
                           <div class="br_cam"> <a class="fa fa-camera" href="index.html"></a> </div>
                       </div>
                   </div>
               </div>
           </div>#}
        </div>
    </div>
</div>